body {
    font-family: sans-serif;
    background-color: #F9D9C7;
}

.wrapper {
    text-align: center;
    max-width: 600px;
    border: #FA5252 2px solid;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 50px;
    font-size: min(10vw, 45px);
    color: #565656;
    text-shadow: 2px 2px #FFF2E9;
    animation: fadeIn 2s;
}

label {
    display: block;
    margin: 20px;
    font-size: min(5vw, 25px);
    color: #565656;
    text-shadow: 1px 1px #FFF2E9;
    animation: fadeIn 1s;
}

input[type="text"] {
    font-size: min(5vw, 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    color: #565656;
    text-shadow: 1px 1px #FFF2E9;
    animation: fadeIn 1s;
}

button {
    font-size: min(5vw, 25px);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6B6B;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
    animation: fadeIn 1s;
}

button:hover {
    background-color: #FA5252;
    animation: shake 0.5s;
}

#winner {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF2E9;
    text-shadow: 2px 2px #565656;
    animation: fadeIn 1s;
}

#winner.winner-picked::after {
    content: "🎉";
    display: inline-block;
    margin-left: 10px;
}

#winner.bounceIn::after {
    animation: bounceIn 1s;
}

#winner_list {
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #0a0a0a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80px;
    gap: 80px;
    overflow-x: hidden;
}

.winner_item {
    width: max-content;
    animation-name: move-x;
    animation-duration: calc(0.8s * var(--step));
    animation-delay: calc(0.3s * var(--step));
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #FA5252;
}

.winner_1 {
    --step: 1;
    color: #FA5252;
}

.winner_2 {
    --step: 2;
    color: #fa8a52;
}

.winner_3 {
    --step: 3;
    color: #fae152;
}

.winner_4 {
    --step: 4;
    color: #cdfa52;
}

.winner_5 {
    --step: 5;
    color: #8dfa52;
}

.winner_6 {
    --step: 6;
    color: #52fa58;
}

.winner_7 {
    --step: 7;
    color: #52fa8d;
}

.winner_8 {
    --step: 8;
    color: #52fad3;

}

.winner_9 {
    --step: 9;
    color: #52e1fa;

}

.winner_10 {
    --step: 10;
    color: #52b1fa;

}

.winner_11 {
    --step: 11;
    color: #526efa;

}

.winner_12 {
    --step: 12;
    color: #7452fa;

}

.winner_13 {
    --step: 13;
    color: #a352fa;

}

.winner_14 {
    --step: 14;
    color: #c852fa;

}

.winner_15 {
    --step: 15;
    color: #e652fa;

}

.winner_16 {
    --step: 16;
    color: #fa52f2;

}

.winner_17 {
    --step: 17;
    color: #fa52c8;

}

.winner_18 {
    --step: 18;
    color: #fa529b;

}

.winner_19 {
    --step: 19;
    color: #fa5274;

}

.winner_20 {
    --step: 20;
    color: #fa5252;

}

/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shake {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes move-x {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * var(--step)));
    }
}