* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F9D9C7;
}

.wrapper {
    border: #FF6B6B 3px solid;
    border-radius: 20px;
    text-align: center;
    max-width: 600px;
    margin: 1rem auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 50px;
    font-size: min(10vw, 45px);
    color: #565656;
    text-shadow: 2px 2px #FFF2E9;
    animation: fadeIn 2s;
}

label {
    display: block;
    margin: 20px;
    font-size: min(5vw, 25px);
    color: #565656;
    text-shadow: 1px 1px #FFF2E9;
    animation: fadeIn 1s;
}

input[type="text"] {
    font-size: min(5vw, 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    color: #565656;
    text-shadow: 1px 1px #FFF2E9;
    animation: fadeIn 1s;
}

button.btn {
    font-size: min(5vw, 25px);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6B6B;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
    animation: fadeIn 1s;
}

button.btn:hover {
    background-color: #FA5252;
    animation: shake 0.5s;
}

button.btn:disabled {
    background-color: #565656;
    animation: none;
    cursor: none;
}

#winner {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF2E9;
    text-shadow: 2px 2px #565656;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;

}

#winner.chosen-name {
    min-width: max-content;
    font-family: "Noto Sans", sans-serif;
    padding: 20px;
}

#winner.chosen-name::before {
    content: " 🎉 🥇";
    display: inline-block;
    margin-right: 20px;
    animation: fadeIn 1.5s;
}

#winner.chosen-name::after {
    content: " 🥇 🎉 ";
    display: inline-block;
    margin-left: 20px;
    animation: fadeIn 1.5s;
}

#winner.empty {
    font-size: 1rem;
    justify-content: center;
    color: red;
}

#winner_list {
    margin-bottom: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 80px;
    animation: move-x 25s linear alternate infinite;
}

#winner_list.acceleration {
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    opacity: 0.5;
}

.winner_item {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #FA5252;
}

.winner_1 {
    color: #FA5252;
}

.winner_2 {
    color: #fa8a52;
}

.winner_3 {
    color: #fae152;
}

.winner_4 {
    color: #cdfa52;
}

.winner_5 {
    color: #8dfa52;
}

.winner_6 {
    color: #52fa58;
}

.winner_7 {
    color: #52fa8d;
}

.winner_8 {
    color: #52fad3;

}

.winner_9 {
    color: #52e1fa;

}

.winner_10 {
    color: #52b1fa;

}

.winner_11 {
    color: #526efa;

}

.winner_12 {
    color: #7452fa;

}

.winner_13 {
    color: #a352fa;

}

.winner_14 {
    color: #c852fa;

}

.winner_15 {
    color: #e652fa;

}

.winner_16 {
    color: #fa52f2;

}

.winner_17 {
    color: #fa52c8;

}

.winner_18 {
    color: #fa529b;

}

.winner_19 {
    color: #fa5274;

}

.winner_20 {
    color: #fa5252;

}

h3 {
    margin-top: 50px;
    font-size: min(5vw, 20px);
    color: #6c6969;
    text-shadow: 2px 2px #FFF2E9;
    animation: bounceIn 2s ease-out;
}

/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shake {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes move-x {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(-3620px);
    }
}